{% extends 'blog/base.html' %}

{% block content %}
	<!-- Section for displaying featured posts -->
	<div class="row">
		<div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-5">
			<h1 class="fw-bolder">Featured Posts</h1>
			<h5 class="text-muted">Take a look at the featured posts</h5>
		</div>
	</div>

	{% for object in object_list %}
	<!-- Loop through each featured post -->
	<div class="row">
		<div class="col-md-6 col-11 mx-md-auto mx-3 mt-5 mb-5">
			<!-- Display post title -->
			<h3 class="fw-bold">{{ object.title }}</h3>
			<!-- Display post date -->
			<p class="text-muted"> {{ object.date }}</p>
			<!-- Display post author -->
			<p class="text-muted">Posted by {{ object.author.username }}</p>
			<!-- Display number of likes -->
			{% if object.likes.count == 1 %}
				<p class="text-muted">{{ object.likes.count }} person likes this post</p>
			{% else %}
				<p class="text-muted">{{ object.likes.count }} people like this post</p>
			{% endif %}

			<!-- Display truncated content -->
			<div class="my-3">
				{{ object.content|truncatewords_html:50|safe }}
			</div>

			<!-- Link to read more -->
			<a href="{% url 'detail_article' object.id %}">Read more</a>
		</div>
	</div>
	{% endfor %}

	<!-- Pagination -->
	<nav>
		<ul class="pagination">
			<div class="mx-auto d-flex flex-row mt-5">
				<!-- Link to first page -->
				{% if page_obj.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page=1">&laquo; First</a>
					</li>

					<!-- Link to previous page -->
					<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
					</li>
				{% endif %}

				<!-- Display current page number -->
				<li class="page-item">
					<a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
				</li>

				<!-- Link to next page -->
				{% if page_obj.has_next %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
					</li>
					<!-- Link to last page -->
					<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
					</li>
				{% endif %}
			</div>
		</ul>
	</nav>
{% endblock content %}
