{% extends 'blog/base.html' %}
{% load static %}
{% load get_featured_posts %}

{% block content %}

<div class="row">
    <div class="col-12 banner-container">
        <img src="{% static 'images/main_banner.webp' %}" class="img-fluid w-100" alt="Banner Image">
    </div>
</div>
<div class="section welcome">
    <div class="row">
        <div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-5">
            <h1 class="fw-bolder">Find your way to Sri Lanka</h1>
            <h5 class="text-muted">A blog about Sri Lanka</h5>
        </div>
    </div>
</div>

<div class="section featured-posts">
    <h2>Featured Posts</h2>
    <br/>
    <div class="row">
        {% with featured_posts as featured_list %}
            {% for post in featured_list %}
                <div class="col-md-4 col-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                            <p class="card-text">{{ post.content|striptags|truncatewords:30 }}</p>
                            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endwith %}
    </div>
</div>

{% endblock content %}
