{% extends 'blog/base.html' %}
{% load static %}
{% load get_featured_posts %}

{% block content %}

<!-- Start: Banner Image -->
<div class="row">
    <div class="col-12 banner-container">
        <img src="{% static 'images/main_banner.webp' %}" class="img-fluid w-100" alt="Banner Image"> <!-- Display banner image -->
    </div>
</div>
<!-- End: Banner Image -->

<div class="section welcome">
    <div class="row">
        <div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-5">
            <h1 class="fw-bolder">Ayubowan! Sri Lanka</h1>
            <br/>
            <!-- Introduction to the blog -->
            <p>Ayubowan! (May you be gifted with a long life) Welcome to Sri Lanka, the resplendent Pearl of the Indian Ocean!</p>

            <!-- Highlights of Sri Lanka -->
            <p>Are you here to soak up the sun on our pristine beaches, explore the ancient ruins whispered about in legends, or delve into the verdant hills teeming with wildlife? Sri Lanka caters to every taste.</p>

            <!-- List of activities -->
            <p>Perhaps you'd like to:</p>
            <ul>
                <li>Hike the misty mountains and witness breathtaking views from Sigiriya, the Lion Rock fortress?</li>
                <li>Witness the vibrant cultural tapestry in Kandy, a UNESCO World Heritage city?</li>
                <li>Savor the taste of fragrant Ceylon tea at a hilltop plantation?</li>
                <li>Learn to surf the turquoise waves along the southern coast?</li>
            </ul>
            <!-- Invitation for questions -->
            <p>No matter your dream Sri Lankan adventure, we're here to make it unforgettable. Just ask away if you have any questions about must-see places, hidden gems, or local customs!</p>
            <div class="col-12 banner-container">
                <img src="{% static 'images/Ayubowan.webp' %}" class="img-fluid w-100" alt="Greeting">
            </div>
        </div>
    </div>
</div>

<div class="section featured-posts">
    <div class="row">
        <div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-5">
            <h2>Featured Posts</h2>
            <br/>
            <div class="row">
                {% with featured_posts as featured_list %}
                    {% for post in featured_list %}
                        <div class="col-md-4 col-12 mb-5">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                                    <p class="card-text">{{ post.content|striptags|truncatewords:30 }}</p>
                                    <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

<div class="section featured-images">
    <div class="row">
        <div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-5">
            <h2>The beauty of Sri Lanka</h2>
            <br/>
            <div class="row">
                <div class="col-md-4 col-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'images/image1.jpg' %}" class="img-fluid w-100" alt="Beach">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'images/image2.jpg' %}" class="img-fluid w-100" alt="Beach2">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'images/image4.jpg' %}" class="img-fluid w-100" alt="Kandy">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'images/image3.jpg' %}" class="img-fluid w-100" alt="Ella">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'images/image5.jpg' %}" class="img-fluid w-100" alt="Animal">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'images/image6.jpg' %}" class="img-fluid w-100" alt="Sigiriya">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
