<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    {% load static %}
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/logo.png' %}" alt="Logo" height="40">
    </a>

    <!-- Navbar toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar collapsible content -->
    <div class="collapse navbar-collapse" id="navbarText">
      <!-- Navbar links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog' %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cityguide' %}">City Guide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'food' %}">Food</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'traveltips' %}">Travel Tips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
        </li>
      </ul>

      <!-- Search form -->
      <form class="d-flex" method="GET" action="{% url 'search' %}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <!-- Navbar authentication links -->
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
          <!-- Display dropdown for profile-related links if user is authenticated -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'profile_redirect' %}">Create Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
          </li>
        {% else %}
          <!-- Display sign in and sign up links if user is not authenticated -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>